pkgbase = ente-auth-bin
	pkgdesc = Ente two-factor authenticator.
	pkgver = 3.0.7
	pkgrel = 1
	url = https://github.com/ente-io/ente/tree/main/auth
	install = ente-auth-bin.install
	arch = x86_64
	license = AGPL-3.0
	depends = at-spi2-core
	depends = ayatana-ido
	depends = cairo
	depends = desktop-file-utils
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = libappindicator-gtk3
	depends = libayatana-appindicator
	depends = libsecret
	depends = libsodium
	depends = pango
	depends = sqlite
	depends = webkit2gtk
	provides = ente-auth
	conflicts = ente-auth
	options = !strip
	options = !emptydirs
	source_x86_64 = https://github.com/ente-io/ente/releases/download/auth-v3.0.7/ente-auth-v3.0.7-x86_64.deb
	sha512sums_x86_64 = ddf5b8bfbe91737146ab841d14547a1eade63e549a9d1c1ffd3982cde43057ba2c59a3058aa805ee9ef1de68e2edc0d697b0b52a969e997707ff67da3f21815c

pkgname = ente-auth-bin
