pkgbase = ente-auth-bin
	pkgdesc = Ente two-factor authenticator.
	pkgver = 3.1.1
	pkgrel = 1
	url = https://github.com/ente-io/ente/releases/tag/auth-v3.1.1
	install = ente-auth-bin.install
	arch = x86_64
	license = AGPL-3.0
	depends = at-spi2-core
	depends = ayatana-ido
	depends = cairo
	depends = desktop-file-utils
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = libappindicator-gtk3
	depends = libayatana-appindicator
	depends = libsecret
	depends = libsodium-1.0.18
	depends = pango
	depends = sqlite
	depends = webkit2gtk
	depends = xdg-user-dirs
	provides = ente-auth
	conflicts = ente-auth
	options = !strip
	options = !emptydirs
	source_x86_64 = https://github.com/ente-io/ente/releases/download/auth-v3.1.1/ente-auth-v3.1.1-x86_64.deb
	sha256sums_x86_64 = c9f4f75ddebb1c79c839303a5ddc48cec1181e1448e282116a61ee6b78818615

pkgname = ente-auth-bin
