pkgbase = ente-auth-bin
	pkgdesc = Ente two-factor authenticator.
	pkgver = 2.0.54
	pkgrel = 1
	url = https://github.com/ente-io/ente/tree/main/auth
	install = ente-auth-bin.install
	arch = x86_64
	license = AGPL-3.0
	depends = at-spi2-core
	depends = ayatana-ido
	depends = cairo
	depends = desktop-file-utils
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = libappindicator-gtk3
	depends = libayatana-appindicator
	depends = libsecret
	depends = libsodium
	depends = pango
	depends = sqlite
	depends = webkit2gtk
	provides = ente-auth
	conflicts = ente-auth
	options = !strip
	options = !emptydirs
	source_x86_64 = https://github.com/ente-io/ente/releases/download/auth-v2.0.54/ente-auth-v2.0.54-x86_64.deb
	sha512sums_x86_64 = 6f15198e46ecde8a070e02105685eec232809fbfcf27fcdf8fcb05cec9a5995e03c6cc1f0098db48340703e84dec7d4d2c2ebfaf7788850279e0d83edf3dd4dc

pkgname = ente-auth-bin
